################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CurrencyExchangeApp/.vs
/CurrencyExchangeApp/CurrencyExchangeApp/bin/Debug/net6.0
/CurrencyExchangeApp/CurrencyExchangeApp/obj
/CurrencyExchangeApp/CurrencyExchangeAppTests/obj
/CurrencyExchangeApp/CurrencyExchangeAppTests/bin
